/*@extend %variable-maxWidth; */

$maxWidthPC: 2000px;
$maxWidthNoteBook: 1199px;
$maxWidthTablet: 1023px;
$maxWidthPhone: 767px;
$maxWidthSPhone: 479px;

%variable-maxWidth {
  @media (min-width: 1200px) {
    max-width: $maxWidthPC;
    width: 100%;
  }

  @media (min-width: 1024px) and (max-width: 1199px) {
    max-width: $maxWidthNoteBook;
    width: 100%;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    max-width: $maxWidthTablet;
    width: 100%;
  }

  @media (min-width: 480px) and (max-width: 767px) {
    max-width: $maxWidthPhone;
    width: 100%;
  }

  @media (max-width: 479px) {
    max-width: $maxWidthSPhone;
    width: 100%;
  }
}
